.navbar {
  height: 70px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 25px;
}

.navButton {
  border: 1px solid;
  border-color: #0071c2;
  border-radius: 2px;
  padding: 7px 0px;
  width: 80px;
  color: #0071c2;
  font-weight: 600;
  background-color: #fff;
  margin-left: 20px;
  cursor: pointer;
}
